<!-- footer公共部分Css样式 -->
<style type="text/css">
  * {
    margin: 0px;
    padding: 0px;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .footerWarp {
    width: 100%;
    height: 100%;
  }
  
  .footerContWrap {
    width: 100%;
    min-height: 500px;
    margin: 0px auto;
    overflow: hidden;
    background-color: #333333;
  }

  .lorgeIcon {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid aqua;
    /* background-color: aqua; */
  }

 .lorgeIconWrap {
   width: 1190px;
   min-height: 300px;
   margin: 30px auto;
   background-color: blueviolet;
 }

</style>


<!-- footer公共部分Html结构 -->
<!-- footer_start 公共footer开始 -->
<div class="footerWarp">
  <div class="footerContWrap">
    <!-- 大图标区 start -->
    <div class="lorgeIcon">
      <div class="lorgeIconWrap">

      </div>
    </div>
    <!-- 大图标区 finish -->

    <!-- 排列区 start -->
    <div class="arrange">
      <div class="arrangeWrap">

      </div>
    </div>
    <!-- 排列区 finish -->

    <!-- 协议居中区 start -->
    <div class="agreement">
      <div class="agreementWrap">

      </div>
    </div>
    <!-- 协议居中区 finish -->

    <!-- 小图标区 start -->
    <div class="littleIcon">
      <div class="littleIconWrap">

      </div>
    </div>
    <!-- 小图标区 finish -->





  </div>
</div>
<!-- footer_finish 公共footer结束 -->


<!-- footer公共部分Js功能 -->
<script>

</script>