<!-- 头部公共部分Css样式 -->
<style type="text/css">
  .headerWarp {
    width: 100%;
    height: 100%;
  }

  .advert {
    width: 100%;
    /* height: 100px; */
    background-color: #FF336E;
  }

  .advertWrap {
    width: 1190px;
    height: 100px;
    margin: 0px auto;
    overflow: hidden;
  }

  .advertWrap .show {
    display: none;
  }

  .switchover {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 60px;
    top: 3px;
  }
</style>


<!-- 头部公共部分Html结构 -->
<!-- header_start 公共头部开始 -->
<div class="headerWarp">

  <!-- advert_start 头部广告栏开始 -->
  <div class="advert">
    <div class="advertWrap">
      <img src="//image4.suning.cn/uimg/cms/img/161274981358035835.jpg" alt="" class="show">
      <img src="//image1.suning.cn/uimg/cms/img/161251076805377865.jpg" alt="">
      <div class="switchover">
        <div class="swiClose"></div>
        <div class="swiAdd"></div>
      </div>
    </div>
  </div>
  <!-- advert_finish 头部广告栏结束 --> 

  <!-- navigation_start 头部导航栏开始 -->
  <div class="topNav">
    <div class="topNavWrap">
      <div class="topLeft">
        <span>考拉欢迎你!</span>
        <a href="">登录</a>
        <a href="">免费注册</a>
        <a href="">手机考拉</a>
      </div>
      <div class="topright">
      </div>
    </div>
  </div>
  <!-- navigation_finish 头部导航栏结束 -->

  <!-- searchBox_start 搜索框区域开始 -->
  <div class="searchBox">
    <div class="searchBoxWarp">

    </div>
  </div>
  <!-- searchBox_finish 搜索框区域结束 -->

</div>
<!-- header_finish 公共头部结束 -->


<!-- 头部公共部分Js功能 -->
<!-- <script src="../script/jquery-1.8.3.js"></script> -->
<script>
  // 广告
  // 功能1：实现按钮控制关闭广告
  


</script>





