<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://img.alicdn.com/tfs/TB13g4aqXP7gK0jSZFjXXc5aXXa-32-32.ico" />
  <link rel="stylesheet" href="../style/logincopy.css">
  <title>登录/注册-考拉海购</title>
</head>
<body>
  <!-- 最外层 start -->
                    <canvas class="gainVerificationShow" id="canvas"></canvas>
                    
    <!-- 中间主要内容 finish -->




  <!-- 最外层 finish -->
  <script src="../script/jquery-1.8.3.js"></script>
  <script src="../script/utils.js"></script>
  <!-- JqAjax_start(请求公共头部尾部文件)-->
  <script>
    // $('.header').load('./header.html')
    // $('.banner').load('./banner.html')
    $('.footer').load('./footer.html')
  </script>
  <script src="../script/logincopy.js"></script>
  <!-- JqAjax_finish(请求公共头部尾部文件)-->
</body>
</html>